<style>
.loginbutton {
        top: 46%;
        left: 39%;
        position: relative;
        font-size: 24px;
        padding: 8px;
        width: 282px;
        padding-left: 74px;
}
.twittericon {
    padding: 9px 0px 5px 5px;
    width: 56px !important;
}
</style>
<body >
    <div >
            <h1 class="text-center">What do they see on twitter? <i class="twittericon fa fa-twitter"></i></h1>
            <h2 class="text-center">Sign up to find out!!!</h2>
            <a class="loginbutton btn btn-social btn-twitter text-center" href='/twitter_auth'>
                <i class="twittericon fa fa-twitter"></i>
                Get Started Now
            </a>
    </div>
</body>
